.center-text {
  text-align: center;
  color: #000000;
  font-weight: bolder;
  font-size: 48px;
  text-decoration: underline;
}

.paragraph-style {
  font-style: italic;
  font-family: 'Open sans', sans-serif;
  line-height: 4;
}

.box {
  width: 25em;
  height: 50%;
  background-color: rgba(0, 94, 16, 0.5);
  margin: 10px;
  padding: 15px;
  border: 2px solid #ff0000;
  border-top-width: 5px;
  border-bottom-width: 200px;
}
